<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Delete</title>
</head>

<body class="ml-5 mr-5 mb-5" style="background-color: #e6e6e6;">
    <center>
        <h1 class="my-4 text-dark">Delete Blog Post</h1>
    </center>
    <div style="width: 50%; background-color: rgba(8, 177, 78, 0.418); 
    padding: 25px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto; margin-right: auto;   border-radius: 10px;
    ">
        <p>Are you sure you want to delete "{{ product.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <center> <button type="submit" class="btn btn-danger">Yes, Delete</button> </center>
        </form>
		
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        id = document.getElementById('user_Id').value;
        document.getElementById('id_userId').value = id;
        document.getElementById('id_userId').readOnly = true;
        document.getElementById('id_userId').style.display = 'none';
        document.querySelector('label[for="id_userId"]').style.display = 'none';
    </script>
</body>

</html>